body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.genz-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}
.genz-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.genz-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
}
.genz-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.genz-left button {
background-color: black;
color: white;
font-size: 1.2em; /* Adjust the size as needed */
padding: 10px 20px; /* Adjust the padding as needed */
border: none;
cursor: pointer;
display: block; /* Ensures the button is treated as a block element */ /* Adjust the space between the paragraph and the button as needed */
}
.genz-left h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: #ffc90e;
}
.genz-left p {
    margin-top: 580px;
    font-weight: 700;
    font-size: 30px;
    color: black
}
.genz-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.genz-right .image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.genz-right .image-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.genz-right .image-container img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.genz-right .image-container p {
    text-align: center;
    margin-top: 5px;
    font-size: 1rem;
    color: #333;
}